{{ presentation.protocol_header }}{% if presentation.artifact_kind == 'scaffold_package' %}{% include 'uvm/scaffold_package.j2' %}{% elif presentation.artifact_kind == 'protocol_package' %}{% include 'uvm/protocol_package.j2' %}{% elif presentation.artifact_kind == 'profile_package' %}{% include 'uvm/profile_package.j2' %}{% elif presentation.artifact_kind == 'profile_agent' %}{% include 'uvm/profile_agent.j2' %}{% elif presentation.artifact_kind == 'ral_fragment' %}{% include 'uvm/ral.j2' %}{% elif presentation.artifact_kind == 'interface' %}{% include 'uvm/interface.j2' %}{% elif presentation.artifact_kind == 'top' %}{% include 'uvm/top.j2' %}{% elif presentation.artifact_kind == 'readme' %}{% include 'uvm/readme.j2' %}{% endif -%}
